<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%> <%- include('partials/navbar'); -%><br />

<body class="bg-color">
  <div class="container">
    <div class="col-4">
      <p class="name text-dark sans-bold">Hello <%= userData.name %>!</p>
    </div>
    </div>
    <!-- Only show this image if there are no groups for user. -->
    <% if (group.length <= 0) { %>
    <div class="col-md-12 text-center">
      <h4>Tap New Group to get started</h3>
      <img style="max-width: 100%" src="/images/holiday.png" alt="holiday-maker" />
    </div>
    <% } %>
  </div>
  <div class="container">
    <!-- show a list of groups that user is in -->
    <% for (let i=0; i< groupInfo.length; i++) { %>
    <br />
    <div class="card text-center rounded-lg bg-light border-dark border-2 shadow">
      <div class="card-body">
        <h5 class="card-title text-dark sans-bold"><%= groupInfo[i].name %></h5>
        <p class="card-text text-dark sans-reg">
          <%= moment(groupInfo[i].vacation_date).format ('DD MMM YYYY')%>
        </p>
        <p class="card-text text-dark sans-reg">
          <%= groupInfo[i].days_of_vacation %> days
        </p>
        <div class="d-inline-flex flex-row align-items-start">
          <a
            href="/dashboard/<%= groupInfo[i].id %>"
            class="btn btn-primary mr-1 rounded-0"
            >See More</a
          >
          <a
            href="/dashboard/<%=groupInfo[i].id%>/edit"
            class="btn btn-primary mr-1 rounded-0"
            >Edit Vacation</a
          >
          <a
          data-toggle="modal" data-target="#deleteGroup<%= groupInfo[i].id %>" 
          class="btn btn-danger rounded-0">Delete</a>
          <!-- Modal -->
          <div class="modal fade" id="deleteGroup<%= groupInfo[i].id %>" tabindex="-1" aria-labelledby="deleteGroupLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do You Want to delete this Vacation?<br/>
        All Information from this vacation will be gone!
      </div>
      <div class="modal-footer d-inline-flex flex-row align-items-start">
        <button type="button" class="btn btn-secondary px-4 rounded-0" data-dismiss="modal">Close</button>
        <form id="deletegroup" action="/dashboard/<%= groupInfo[i].id %>/delete?_method=DELETE" method="POST">
          <label>
            <input class="btn btn-danger rounded-0 px-3" type="submit" value="Delete" />
          </label>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->
        </div>
      </div>
      <div class="card-footer text-dark">
        Allocated Budget $<%= groupInfo[i].budget %>
      </div>
    </div>
      <% }%>
  </div>
<br/>

<%- include('partials/dashboard-footer'); -%> 
</body>
</html>
