<%- include('partials/user-header'); -%> <br />

<div class="container">
  <div
    class="col-12 my-5 d-flex align-items-center justify-content-center flex-column text-white"
  >
    <h1 class="text-dark">Edit Your Expense!</h1>
    <br />
    <div class="bg-secondary p-3 rounded">
      <form
        action="/dashboard/<%= expenseInfo.group_id %>/<%= expenseInfo.id %>/edit?_method=PUT"
        method="POST"
      >
        <label for="name">Name :</label>
        <input
          type="text"
          id="name"
          name="name"
          size="50"
          value="<%= expenseInfo.name %>"
          class="form-control"
          required
        /><br />
        <label for="date">Date of Expense:</label>
        <input type="date" id="date" name="date" size="50"
        value="<%=moment(expenseInfo.date).format("YYYY-MM-DD")%>"
        class="form-control" required /><br />
        <label for="note">Comments:</label><br />
        <input
          type="text"
          id="note"
          name="note"
          size="50"
          value="<%= expenseInfo.note  %>"
          class="form-control text-dark"
        /><br />
        <label for="amount">Enter Amount</label>
        <input
          type="text"
          name="amount"
          id="amount"
          pattern="^\d{1,3}(,\d{3})*(\.\d+)?$"
          value="<%= expenseInfo.amount %>"
          data-type="currency"
          placeholder="$1000.00"
        />
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary text-center btn-lg"
        />
      </form>
    </div>
  </div>
</div>
