<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%> <%- include('partials/navbar'); -%>

<body class="bg-color">
  <div id ="expenseChart" class="container-md">
  <br/>

    <canvas class="bg-white p-2 rounded shadow" id="myChart"></canvas>
   </div>

   <script>
  let myChart = document.getElementById("myChart");

    let monthChart = new Chart(myChart, {
      type: "bar",
      data: {
        labels: <%-label %>,
        datasets: [
          {
            label: "Amount Spent Per Day",
            backgroundColor: ["red", "blue", "green", "blue", "red", "blue"],
            borderColor: "rgb(255, 99, 132)",
            data: [<%=expense %>],
          },
        ],
      },
      options: {
            y: {
            max: 1000,
            ticks: {
                stepSize: 100
            }
      },
    }
  });
</script>

  <div class="container">
    <div class="col-md-12">
    <br />
    <h2 class="text-dark text-center sans-bold"><%= groupInfo[0].group_name %></h2>
    <br />
      <table class="table table-sm table-hover table-light">
        <thead class="thead-dark">
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>More</th>
          </tr>
          </thead>
          <tbody>
          <% groupInfo.forEach((expense, i) => { %>
          <tr>
            <td><%= i +1 %></td>
            <td><%= groupInfo[i].name %></td>
            <td><%= moment(groupInfo[i].date).format("DD/MM/YY") %></td>
            <td>$<%= groupInfo[i].amount %></td>
            <td>
              <a
                href="/dashboard/<%= groupid %>/<%= groupInfo[i].id %>/edit"
                class="btn btn-info"
                >Edit</a
              >
            </td>
            <% }) %>
          </tr>
        </tbody>
      </table>
  </div>
  <%- include('partials/group-footer'); -%> 
</body>
</html>
