<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%> <%- include('partials/navbar'); -%>

<body class="bg-color">
  <div class="container">
    <div class="col-sm-12">
    <br />
    <h2 class="text-dark text-center sans-bold"><%= groupInfo.name %></h2>
    <p class="text-dark text-center sans-reg"><%= moment(groupInfo.vacation_date).format("DD/MM/YY") %><br><%= groupInfo.days_of_vacation %> Days</p>
     <div id ="expenseChart">
  <br/>
    <canvas class="bg-white p-1 rounded shadow" id="myChart"></canvas>
   </div>
   <script>
  let myChart = document.getElementById("myChart");

    let monthChart = new Chart(myChart, {
      type: "bar",
      data: {
        labels: <%-label %>,
        datasets: [
          {
            label: "Amount Spent Per Day",
            backgroundColor: ["red", "blue", "green", "blue", "red", "blue"],
            borderColor: "rgb(255, 99, 132)",
            data: [<%=expense %>],
          },
        ],
      },
      options: {
            y: {
            max: 500,
            ticks: {
                stepSize: 100
            }
      },
    }
  });
</script>
      <br/>
      <table class="table table-sm table-hover table-light">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Name</th>
            <th class="text-center">Date</th>
            <th class="text-center">Amount</th>
            <th class="text-center">More</th>
          </tr>
          </thead>
          <tbody>
          <% if (groupData.length > 0) { %>
          <% groupData.forEach((expense, i) => { %>
          <tr>
            <td class="text-center"><%= i +1 %></td>
            <td class="text-center"><%= groupData[i].name %></td>
            <td class="text-center"> <%= moment(groupData[i].date).format("DD/MM/YY") %></td>
            <td class="text-center">$<%= groupData[i].amount %></td>
            <td class="text-center">
              <a
                href="/dashboard/<%= groupid %>/<%= groupData[i].id %>/edit"
                class="btn btn-info rounded-0"
                >Edit</a
              >
            </td>
            <% }) %>
            <% } %>
          </tr>
        </tbody>
      </table>
  </div>
  <%- include('partials/group-footer'); -%> 
</body>
</html>
